/* content.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.content-container {
  text-align: center;
}

p {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
